<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container-wrapper">
      <header class="container-header">
        {% include header.html %}
      </header>
      <main class="container-main">
        {{ content }}
      </main>
      <footer class="container-footer">
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>

<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">
